@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.wrapperaddorupdatefamily
{
    width: 100%;
    height: 100vh;
    background-color: rgb(141,110,99);
    padding-bottom: 40px;
}

.wrapperaddorupdatefamily .cardholder 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    justify-items: center;
    padding-top: 100px;
}

.wrapperaddorupdatefamily .cardholder .card
{
    width: 35%;
    min-height: 350px;
    height: auto;
    padding-bottom: 15px;
    background-color: rgb(121,85,72);
    box-shadow: 2px 2px 5px black;
    border-radius: 5px;
}

.wrapperaddorupdatefamily .cardholder .card .imghldr
{
    background-image: url(../Images/family.jpg);
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-size: cover;
    background-position: center;
}

.wrapperaddorupdatefamily .cardholder .card .txthlder
{ 
    padding: 20px;
    text-align: justify;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 30px;
}

.wrapperaddorupdatefamily .cardholder .card .btnhldr
{
    margin: 20px;
}

.wrapperaddorupdatefamily .cardholder .card .btnhldr button
{
    color: white;
    width: 165px;
    height: 45px;
    border-radius: 50px;
    border: none;
    outline: none;
    font-size: 16px;
}

.wrapperaddorupdatefamily .cardholder .card .btnhldr #rest
{
    background-color: rgb(46,125,50);
}

.wrapperaddorupdatefamily .cardholder .card .btnhldr #rest:hover
{
    cursor: pointer;
    background-color: rgb(14, 83, 17);
    transition: 500ms ease-in-out;
}

.wrapperaddorupdatefamily .cardholder .card .btnhldr #vwupt
{
    margin-left: 20px;
    background-color: rgb(190, 136, 10);
}

.wrapperaddorupdatefamily .cardholder .card .btnhldr #rest:hover
{
    cursor: pointer;
    background-color: rgb(14, 83, 17);
    transition: 500ms ease-in-out;
}

.wrapperaddorupdatefamily .cardholder .card .btnhldr #vwupt:hover
{
    cursor: pointer;
    background-color: rgb(141, 104, 18);
    transition: 500ms ease-in-out;
}

@media only screen and (max-width: 900px)
{
    .wrapperaddorupdatefamily .cardholder .card
    {
        width: 70%;
        padding-top: 0;
    }

    .wrapperaddorupdatefamily .cardholder .card .btnhldr button
    {
        width: 170px;
    }
}

@media only screen and (max-width: 480px)
{
    .wrapperaddorupdatefamily .cardholder .card
    {
        width: 90%;
        margin-top: 30px;
    }

    .wrapperaddorupdatefamily .cardholder .card .btnhldr button
    {
        width: 140px;
        font-size: 14px;
    }

    .wrapperaddorupdatefamily .cardholder .card .btnhldr button
    {
        width: 80%;
        font-size: 12px;
    }

    .wrapperaddorupdatefamily .cardholder .card .btnhldr #vwupt
    {
        margin-left: 0;
        margin-top: 15px;
    }

    .wrapperaddorupdatefamily
    {
        height: 110vh;
    }
}