@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.wrapperUpdateFamily
{
    padding-top: 10vh;
    height: auto;
    min-height: 90vh;
    padding-bottom: 60px;
    width: 100%;
    background-color: rgb(141,110,99);
}

.wrapperUpdateFamily h2
{
    font-size: 30px;
    padding-left: 40px;
}

.wrapperUpdateFamily .containerform
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapperUpdateFamily .containerform .formholder
{
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: rgb(121,85,72);
    border-radius: 5px;
    margin-top: 5vh;
    box-shadow: 2px 2px 5px black;
    padding-bottom: 30px;
    overflow: hidden;
}

.wrapperUpdateFamily .containerform .formholder .imghlder
{
    flex: 40%;
}

.wrapperUpdateFamily .containerform .formholder .imghlder img
{
    height: 150%;
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.wrapperUpdateFamily .containerform .formholder .inpthlder
{
    flex: 60%;
}

.wrapperUpdateFamily .containerform .formholder .inpthlder form
{
    margin: 20px;
}

.wrapperUpdateFamily .containerform .formholder .inpthlder form label
{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
}

.wrapperUpdateFamily .containerform .formholder .inpthlder form input
{
    height: 30px;
    width: 95%;
    margin-top: 7px;
    border-radius: 50px;
    border: none;
    outline: none;
    padding-left: 10px;
    margin-bottom: 15px;
    font-size: 17px;
}

.wrapperUpdateFamily .containerform .formholder .inpthlder form  select
{
    height: 30px;
    width: 97%;
    margin-top: 5px;
    border-radius: 50px;
    border: none;
    outline: none;
    padding-left: 10px;
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

.wrapperUpdateFamily .containerform .formholder .inpthlder form button
{
    margin-top: 30px;
    width: 97%;
    height: 45px;
    border-radius: 50px;
    border: none;
    outline: none;
    font-size: 20px;
    background-color: rgb(46,125,50);
    color: white;
}

.wrapperUpdateFamily .containerform .formholder .inpthlder form button:hover
{
    cursor: pointer;
    background-color: rgb(14, 83, 17);
    transition: 500ms ease-in-out;
}

.wrapperUpdateFamily .containerform .formholder .inpthlder h2
{
    font-size: 22px;
    padding-right: 10px;
    font-family: 'Roboto', sans-serif;
    margin-top: 40px;
}

.wrapperUpdateFamily .containerform .formholder .inpthlder h2 a
{
    font-size: 30px;
    color: rgb(46,125,50);
    text-decoration: none;
    text-shadow: 2px 2px 5px black;
}

.wrapperUpdateFamily .containerform .formholder .inpthlder h2 a:hover
{
    font-size: 31px;
    transition: 500ms ease-in-out;
}

@media only screen and (max-width: 900px)
{
    .wrapperUpdateFamily .containerform .formholder
    {
        width: 70%;
    }
}

@media only screen and (max-width: 480px)
{

    .wrapperUpdateFamily
    {
        padding-bottom: 70px;
    }

    .wrapperUpdateFamily h2
    {
        font-size: 25px;
    }

    .wrapperUpdateFamily .containerform .formholder .imghlder
    {
        flex: 30%;
    }

    .wrapperUpdateFamily .containerform .formholder .inpthlder
    {
        flex: 70%;
    }

    .wrapperUpdateFamily .containerform .formholder
    {
        width: 90%;
        flex-direction: column;
    }

    .wrapperUpdateFamily .containerform .formholder .imghlder img
    {
        height: 150px;
    }

    .wrapperUpdateFamily .containerform h2
    {
        font-size: 24px;
    }
 
    .wrapperUpdateFamily .containerform .formholder .imghlder img
    {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 0;
        border-top-right-radius: 5px;
    }
    
}