@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.wrapperincomepage
{
    width: 100%;
    min-height: 100vh;
    height: auto;
    padding-bottom: 60px;
    background-color: #FFAB91;
}

.wrapperincomepage .mnhimn
{
    padding-top: 15vh;
    width: 60%;
    height: auto;
    margin-left: 100px;
}

.wrapperincomepage .mnhimn form
{
    width: 100%;
    height: 90%;
    padding: 20px;
    background-color: white;
    box-shadow: 2px 2px 5px black;
    border-radius: 10px;
    
}

.wrapperincomepage .mnhimn form label
{
    color:black;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
}

.wrapperincomepage .mnhimn form input
{
    height: 30px;
    width: 90%;
    margin-top: 7px;
    border-radius: 50px;
    border: none;
    background-color: rgb(201, 191, 191);
    outline: none;
    padding-left: 10px;
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    
}

.wrapperincomepage .mnhimn form select
{
    height: 30px;
    width: 91%;
    margin-top: 5px;
    border-radius: 50px;
    border: none;
    outline: none;
    padding-left: 10px;
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: black;
    background-color: rgb(201, 191, 191);

}

.wrapperincomepage .mnhimn form button
{
    margin-top: 20px;
    width: 165px;
    height: 45px;
    border-radius: 50px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: #F4511E;
    color: white;
}

.wrapperincomepage .mnhimn form button:hover
{
    cursor: pointer;
    margin-left: 3px;
    transition: 500ms ease-in-out;
}

.wrapperincomepage .imndet
{
    width: 60%;
    height: auto;
    padding: 20px;
    margin-left: 50px;
    background-color: white;
    box-shadow: 2px 2px 5px black;
    margin-top: 5vh;
    border-radius: 10px;
    margin-left: 100px;
}

.wrapperincomepage .imndet .frmprt
{
    padding-top: 0px;
}

.wrapperincomepage .imndet .frmprt form
{
    width: 100%;
    height: 90%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.wrapperincomepage .imndet .frmprt form label
{
    color:black;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
}

.wrapperincomepage .imndet .frmprt form select
{
    height: 30px;
    width: 91%;
    margin-top: 5px;
    border-radius: 50px;
    border: none;
    outline: none;
    padding-left: 10px;
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(201, 191, 191);
    font-size: 17px;
    color: black;
}

.wrapperincomepage .imndet .frmprt form button
{
    margin-top: 20px;
    width: 165px;
    height: 45px;
    border-radius: 50px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: #F4511E;
    color: white;
}

.wrapperincomepage .imndet .frmprt form button:hover
{
    cursor: pointer;
    margin-left: 3px;
    transition: 500ms ease-in-out;
}

.wrapperincomepage .dtaprt
{
    display: flex;
    flex-direction: column;
}

.wrapperincomepage .dtaprt #subdiv
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
}

.wrapperincomepage .dtaprt #subdiv h5
{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}

.wrapperincomepage .dtaprt #subdiv h3
{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    padding: 15px;
    background-color: #FFAB91;
    margin-left: 5px;
    border-radius: 5px;
}

.wrapperincomepage .dtaprt #subdiv #up
{
    color: green;
}

.wrapperincomepage .dtaprt #subdiv #down
{
    color: red;
}

.wrapperincomepage .grphld
{
    margin-top: 5vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
}

.wrapperincomepage .grphld .graph
{
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media only screen and (max-width: 900px)
{
    .wrapperincomepage .mnhimn
    {
        padding-top: 10vh;
        width: 70%;
        margin-left: 50px;
    }

    .wrapperincomepage .imndet
    {
        width: 70%;
        margin-left: 50px;
    }

}


@media only screen and (max-width: 480px)
{
    .wrapperincomepage .mnhimn
    {
        padding-top: 10vh;
        width: 80%;
        margin-left: 7px;
    }

    .wrapperincomepage .imndet
    {
        width: 80%;
        margin-left: 7px;
    }

    .wrapperincomepage .dtaprt #subdiv h5
    {
        font-size: 18px;
    }

    .wrapperincomepage .dtaprt #subdiv h3
    {
        font-size: 18px;
        padding: 10px;
    }

}