@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.wrapperaddcarform
{
    padding-top: 10vh;
    height: auto;
    min-height: 90vh;
    padding-bottom: 60px;
    width: 100%;
    background-image:  linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../Images/bg2.jpg);
}

.wrapperaddcarform h2
{
    font-size: 30px;
    padding-left: 40px;
    color:white;
}

.wrapperaddcarform .containerform
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapperaddcarform .containerform .formholder
{
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 5px;
    margin-top: 5vh;
    box-shadow: 2px 2px 5px black;
    padding-bottom: 30px;
    overflow: hidden;
}

.wrapperaddcarform .containerform .formholder .inpthlder
{
    flex: 60%;
    padding-top: 30px;
}

.wrapperaddcarform .containerform .formholder .inpthlder form
{
    margin: 20px;
}

.wrapperaddcarform .containerform .formholder .inpthlder form label
{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
}

.wrapperaddcarform .containerform .formholder .inpthlder form input
{
    height: 30px;
    width: 80%;
    margin-top: 7px;
    border-radius: 50px;
    border: none;
    background-color: rgb(201, 191, 191);
    outline: none;
    padding-left: 10px;
    margin-bottom: 15px;
    font-size: 17px;
}

.wrapperaddcarform .containerform .formholder .inpthlder form input[type = password]
{
    background-color: rgb(201, 191, 191);
}

.wrapperaddcarform .containerform .formholder .inpthlder form  select
{
    height: 30px;
    width: 82%;
    margin-top: 5px;
    border-radius: 50px;
    border: none;
    outline: none;
    padding-left: 10px;
    margin-bottom: 15px;
    background-color: rgb(201, 191, 191);
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

.wrapperaddcarform .containerform .formholder .inpthlder form button
{
    margin-top: 30px;
    width: 190px;
    height: 45px;
    border-radius: 50px;
    border: none;
    outline: none;
    font-size: 17px;
    background-color: #F4511E;
    color: white;
}

.wrapperaddcarform .containerform .formholder .inpthlder form button:hover
{
    cursor: pointer;
    margin-left: 5px;
    transition: 500ms ease-in-out;
}

.wrapperaddcarform .containerform .formholder .inpthlder h2
{
    font-size: 22px;
    padding-right: 10px;
    font-family: 'Roboto', sans-serif;
    margin-top: 40px;
}

.wrapperaddcarform .containerform .formholder .inpthlder h2 a
{
    font-size: 30px;
    color: #F4511E;
    text-decoration: none;
    text-shadow: 2px 2px 5px black;
}

.wrapperaddcarform .containerform .formholder .inpthlder h2 a:hover
{
    font-size: 31px;
    transition: 500ms ease-in-out;
}

@media only screen and (max-width: 900px)
{
    .wrapperaddcarform .containerform .formholder
    {
        width: 80%;
    }
}

@media only screen and (max-width: 480px)
{

    .wrapperaddcarform
    {
        padding-bottom: 70px;
    }

    .wrapperaddcarform h2
    {
        font-size: 25px;
    }

    .wrapperaddcarform .containerform .formholder .imghlder
    {
        flex: 30%;
    }

    .wrapperaddcarform .containerform .formholder .inpthlder
    {
        flex: 70%;
    }

    .wrapperaddcarform .containerform .formholder
    {
        width: 90%;
        flex-direction: column;
    }

    .wrapperaddcarform .containerform .formholder .imghlder img
    {
        height: 150px;
    }

    .wrapperaddcarform .containerform h2
    {
        font-size: 24px;
    }
 
    .wrapperaddcarform .containerform .formholder .imghlder img
    {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 0;
        border-top-right-radius: 5px;
    }
    
}

