@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.wrapperAllInvoiceList
{
    padding-top: 10vh;
}

.wrapperAllInvoiceList h2
{
    font-size: 30px;
    margin-left: 50px;
}
.wrapperAllInvoiceList .listholder
{
    margin-top: 50px;
    overflow: scroll;
    height: 80vh;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50px;
}

.wrapperAllInvoiceList .listholder::-webkit-scrollbar
{
    width: 0;
}

.wrapperAllInvoiceList .listholder table
{
    width: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.wrapperAllInvoiceList .listholder table thead th
{
    background-color: #cc512c;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.wrapperAllInvoiceList .listholder table tbody tr:nth-child(even)
{
    background-color: rgb(255, 252, 255);
    padding: 5px;
}

.wrapperAllInvoiceList .listholder table tbody tr:nth-child(odd)
{
    background-color: rgb(238,238,238);
    padding: 5px;
}

.wrapperAllInvoiceList .listholder table tbody tr button
{
    width: 70%;
    height: 35px;
    background-color: #ce694a;
    border-radius: 50px;
    outline: none;
    border: none;
    font-size: 15px;
    margin: 5px;
    color: white;

}

.wrapperAllInvoiceList .listholder table tbody tr button:hover
{
    cursor: pointer;
    transition: 500ms ease-in-out;
}

.wrapperAllInvoiceList .listholder table tbody tr #vewbtn:hover
{
    cursor: pointer;
}

.wrapperAllInvoiceList .listholder table tbody tr #dltbtn:hover
{
    cursor: pointer;
}

@media only screen and (max-width: 900px)
{
    .wrapperAllInvoiceList .listholder table tbody tr button
    {
        width: 120px;
    }
}

@media only screen and (max-width: 480px)
{
    .wrapperAllInvoiceList .listholder table tbody tr
    {
        font-size: 14px;
    }

    .wrapperAllInvoiceList h2
    {
        font-size: 25px;
        margin-left: 30px;
    }

    .wrapperAllInvoiceList .listholder table tbody tr button
    {
        font-size: 10px;
        padding-right: 20px;
        padding-left: 20px;
        width: 120px;
    }

    .wrapperAllInvoiceList .listholder
    {
        margin-top: 50px;
        overflow: scroll;
        height: 80vh;
        padding-bottom: 70px;
    }
}